<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Push Notifications: Node.js and Web Push</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app" ng-controller="PushController">
    <header>
        <h1>Web Push Notifications Demo</h1>
    </header>
    <div class="content">
        <h2>Welcome {{helloTo.title}},</h2>
        <div>
            <label>Type your message: </label>
            <input class="message" type="text" value="{{push.message}}" ng-model="push.message"></input>
            <button class="trigger-push" ng-click="pushHandler()">Trigger Push Notification</button>
        </div>
    </div>
</body>

</html>